In [50]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
from tqdm import tqdm
import os

- Who are the professionals of IT based on survey? (when we said about professional they have to work with a lot of techs as ..)
    - Who are the professionals?
    - What kind of technologies increase in the last 3 years (in the last 3 years about database was...)
    - Mental Health (read article about mental health to discuss)

In [51]:
pd.set_option('display.max_columns', 500)

In [53]:
data_2020 = pd.read_csv(f'data/public/survey_results_public_2020.csv')
data_2021 = pd.read_csv(f'data/public/survey_results_public_2021.csv')
data_2022 = pd.read_csv(f'data/public/survey_results_public_2022.csv')

for mental health exists features interstings as job satisfaction JobSat, JobSeek (if is seeking a job), JobFactors whats is the factor to have a job. WelcomeChange

In [57]:
data_selected_2020 = data_2020[[
    'Respondent', 'MainBranch', 'Age', 'Age1stCode', 'Country', 'DevType', 'EdLevel', 'Ethnicity', 'OpSys', 'OrgSize',
    'Gender', 'Sexuality', 'YearsCode', 'YearsCodePro', 'WorkWeekHrs', 'JobSat', 'JobFactors', 'WelcomeChange', 'NEWJobHunt',
    'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'LanguageDesireNextYear', 'LanguageWorkedWith', 'PlatformDesireNextYear', 
    'PlatformWorkedWith']].copy()

In [58]:
data_selected_2021 = data_2021[[
    'ResponseId', 'MainBranch', 'Age', 'Age1stCode', 'Country', 'DevType', 'EdLevel', 'Ethnicity', 'OpSys', 'OrgSize',
    'Gender', 'Sexuality', 'YearsCode', 'YearsCodePro', 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
    'DatabaseWantToWorkWith', 'DatabaseHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageHaveWorkedWith', 'PlatformWantToWorkWith', 
    'PlatformHaveWorkedWith', 'MentalHealth']].copy()

In [59]:
data_selected_2022 = data_2022[[
    'ResponseId', 'MainBranch', 'Age', 'Country', 'DevType', 'EdLevel', 'Ethnicity', 'OpSysProfessional use', 'OrgSize',
    'Gender', 'Sexuality', 'YearsCode', 'YearsCodePro', 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
    'DatabaseWantToWorkWith', 'DatabaseHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageHaveWorkedWith', 'PlatformWantToWorkWith', 
    'PlatformHaveWorkedWith', 'MentalHealth', 'RemoteWork']].copy()

In [60]:
rename_2020 = {
    'Respondent': 'ResponseId',
    'DatabaseDesireNextYear': 'DatabaseWantToWorkWith',
    'DatabaseWorkedWith': 'DatabaseHaveWorkedWith',
    'LanguageDesireNextYear': 'LanguageWantToWorkWith',
    'LanguageWorkedWith': 'LanguageHaveWorkedWith',
    'PlatformDesireNextYear': 'PlatformWantToWorkWith',
    'PlatformWorkedWith': 'PlatformHaveWorkedWith'
}

In [61]:
data_selected_2020.rename(columns=rename_2020, inplace=True)

In [62]:
data_selected_2020['year'] = 2020
data_selected_2021['year'] = 2021
data_selected_2022['year'] = 2022

In [63]:
df = pd.concat([data_selected_2020, data_selected_2021, data_selected_2022], axis=0, ignore_index=True)

In [65]:
df[df['ResponseId'] == 1]

,ResponseId,MainBranch,Age,Age1stCode,Country,DevType,EdLevel,Ethnicity,OpSys,OrgSize,Gender,Sexuality,YearsCode,YearsCodePro,WorkWeekHrs,JobSat,JobFactors,WelcomeChange,NEWJobHunt,DatabaseWantToWorkWith,DatabaseHaveWorkedWith,LanguageWantToWorkWith,LanguageHaveWorkedWith,PlatformWantToWorkWith,PlatformHaveWorkedWith,year,WebframeHaveWorkedWith,WebframeWantToWorkWith,MentalHealth,OpSysProfessional use,RemoteWork
0,1,I am a developer by profession,NaN,13,Germany,"Developer, desktop or enterprise applications;...","Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",White or of European descent,Windows,2 to 9 employees,Man,Straight / Heterosexual,36,27,50.0,Slightly satisfied,"Languages, frameworks, and other technologies ...",Just as welcome now as I felt last year,NaN,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,2020,NaN,NaN,NaN,NaN,NaN
64461,1,I am a developer by profession,25-34 years old,18 - 24 years,Slovakia,"Developer, mobile","Secondary school (e.g. American high school, G...",White or of European descent,MacOS,20 to 99 employees,Man,Straight / Heterosexual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SQLite,PostgreSQL;SQLite,Swift,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,NaN,NaN,2021,Laravel;Symfony,NaN,None of the above,NaN,NaN
147900,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN

In [66]:
df.year.value_counts()

2021    83439
2022    73268
2020    64461
Name: year, dtype: int64

## Data Extraction

In [5]:
for dataset in tqdm(os.listdir('data/public')):
    data = pd.read_csv(f'data/public/{dataset}')

['survey_results_public_2017.csv',
 'survey_results_public_2018.csv',
 'survey_results_public_2019.csv',
 'survey_results_public_2020.csv',
 'survey_results_public_2021.csv',
 'survey_results_public_2022.csv']